body,ul,li,a{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.test{
    position: relative;
    width: 400px;
    margin: 100px auto;
    font-size: 0;
    overflow: hidden;
    

}
.test .img-box{
    position: relative;
    left: 0;
    width: 2400px;
    height: 300px;
    text-align: center;
}
.test ul li{
    display: inline-block;

    
}
.test ul li img{
    width: 400px;
    height: 300px;
}
/*按钮*/
.test .btn{
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
.test .btn .prev{
    position: absolute;
    left: -2px;
    background: rgba(0,0,0,0.5); 
    width: 30px;
    height: 40px;
    outline: none;
}
.test .btn .next{
    position: absolute;
    right: -402px;
    width: 30px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    outline: none;
}
/*圆点*/
.des{
    position: absolute;
    bottom: 30px;
    width: 100%; 
    text-align: center;
}
.des ul{
    display: inline-block;
    background: rgba(0,0,0,0.5);
    border-radius: 7px;
}
.des .item{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin: 2px;

}
.des .active{
    background: #ff6700;
}